@import url(http://fonts.googleapis.com/css?family=Sonsie+One);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic);

/*
Color Schema
#006389 Azul escuro
#00B1CF Azul médio
#E5F7F9 Azul claro
#92C35E Verde claro
#333333 Preto
*/

body {
  font-size: 62.5%;
  color: #333333;
  background: #00B1CF;
  font-family: "Source Sans Pro", Tahoma, Arial, sans-serif;
}

header {
  border-top: 20px solid #92C35E;
}

h1.titulo {
  font-family: "Sonsie One", cursive;
  font-size: 7em;
  text-shadow: 1px 1px 0 #3A3D40;
  margin-bottom: 0.25em;
  text-align: center;
  margin-top: 1.8em;
}

h1.titulo a {
  color: #F9F9F9;
  text-decoration: none;
}

h2 {
  font-size: 4em;
  color: #F9F9F9;
  font-weight: 900;
  text-shadow: 1px 1px 0 #3A3D40;
}


h3 {
  font-size: 2em;
  font-weight: 600;
}

h4 {
  font-size: 1.8em;
  font-weight: 600;
}

section {
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  width: 960px;
}

section input[type="text"] {
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  padding: 0.4em 0.7em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  color: #3A3D40;
}

section #buscar input {
  font-size: 2.4em;
  width: 440px;
}

section input[type="text"]:focus {
  border-color: rgba(228, 247, 249, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(228, 247, 249, 0.6);
  outline: 0 none;
}

section #buscar input:disabled {
  color: #999999;
}

.btn {
  background-color: #92C35E;
  border: none;
  border-radius: 0.25em;
  box-shadow: inset 0 -0.1em 0 #69A067;
  color: #f3f2ee;
  cursor: pointer;
  display: inline-block;
  font-size: 2.4em;
  outline: none;
  padding: 0.0em 1em 0.05em 1em;
  text-decoration: none;
  line-height: 48px;
  margin-left: 0.25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  width: 124px;
  text-align: center;
}

.btn:hover {
  background-color: #69A067;
  box-shadow: inset 0 -0.1em 0 #92C35E;
}

.btn:disabled {
  background: #69A067;
  box-shadow: inset 0 -0.1em 0 #92C35E;
  cursor: pointer;
}

#buscar {
  margin-top: 7em;
}

.loading {
  vertical-align: middle;
}

.twitter-typeahead {
  vertical-align: top;
}

.container {
  border-radius: 8px;
  background: #E5F7F9;
  width: 500px;
  margin: 20px auto;
  padding: 30px;
  min-height: 220px;
}

.dias-viagem {
  text-align: center;
  margin-bottom: 20px;
}

.dias-viagem label {
  font-weight: 600;
  font-size: 3em;
}

.dias-viagem input[type="text"] {
  width: 40px;
  font-size: 1.8em;
  margin-left: 10px;
  text-align: center;
}

.dias-viagem input[type="text"]:focus {
  border-color: rgba(0, 177, 207, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 177, 207, 0.6);
}

ul.niveis {
  margin-bottom: 20px;
}

ul.niveis li {
  display: inline;
  font-size: 1.6em;
  margin-right: 10px;
}

ul.despesas {
	margin-bottom: 20px;
  width: 200px;
  text-align: left;
  margin: 10px auto;
}

ul.despesas li {
  font-size: 2em;
}

ul.despesas li {
  font-size: 1.4em;
}

#calcular {
  margin-top: 20px;
  width: 200px;
}

table {
  width: 100%;
  margin: 30px 0;
}

table thead tr th {
  font-size: 1.6em;
  font-weight: 600;
  padding: .8em;
}

table tbody tr td {
  font-size: 1.4em;
  padding: .5em;
}

table tr {
  border-bottom: 1px solid #AAAAAA;
}

.link {
  font-weight: 600;
  font-size: 1.8em;
  text-decoration: none;
  color: #00B1CF;
}

.link:hover {
  border-bottom: 1px solid;
}

.tt-dropdown-menu {
  width: 475px;
  margin-top: 1px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 8px 20px;
  font-size: 2em;
  line-height: 18px;
  cursor: pointer;
}

.tt-suggestion + .tt-suggestion {
  font-size: 2em;
  border-top: 1px solid #ccc;
}

.tt-suggestions .repo-language {
  float: right;
  font-style: italic;
}

.tt-suggestions .repo-name {
  font-size: 20px;
  font-weight: bold;
}

.tt-suggestions .repo-description {
  margin: 0;
}

.twitter-typeahead .tt-suggestion.tt-cursor {
  color: #03739c;
}

footer {
  padding: 30px 0;
  text-align: center;
}

.colabore {
  color: #F9F9F9;
  font-weight: 600;
  text-decoration: none;
  font-size: 2em;
  text-shadow: 1px 1px 0 #3A3D40;
}

.erro-busca {
  font-size: 2em;
  color: #F9F9F9;
  font-weight: 600;
  margin: 1.5em 0;
  display: none;
  text-shadow: 1px 1px 0 #3A3D40;
}

.erro-dias {
  font-size: 1.4em;
  color: #DD6568;
  font-weight: 600;
  margin: .5em 0 .25em;
  display: none;
}

.hide {
  display: none;
}