@import url(http://fonts.googleapis.com/css?family=Sonsie+One);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic);

body {
  font-size: 62.5%;
  color: #333333;
  background: #F9F9F9;
  font-family: "Source Sans Pro", Tahoma, Arial, sans-serif;
}

header {
  background: #00B1CF;
  height: 160px;
  border-top: 20px solid #92C35E;
  box-shadow: 0 0 5px rgba(0, 0, 0, .6);
}

header h1 {
  font-family: 'Sonsie One', cursive;
  font-size: 7em;
  text-shadow: 1px 1px 0 #3A3D40;
  padding-top: .6em;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

header h1 a {
  color: #F9F9F9;
  text-decoration: none;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: 3em;
  margin: .5em 0;
}