<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block titulo %}Quanto Levar?{% endblock %}</title>
  <link href="{{ STATIC_URL }}css/reset.css" rel="stylesheet" media="screen">
  <link href="{{ STATIC_URL }}css/home.css" rel="stylesheet" media="screen">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.js"></script>
</head>
<body>
  <header></header>
  <section>
    <h1 class="titulo">Quanto Levar?</h1>
    <div id="conteudo">
      {% block conteudo %}
        {% include 'core/partial_busca.html' with cidades=cidades %}
      {% endblock conteudo %}
    </div>
  </section>
</body>
</html>