<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block titulo %}Quanto Levar{% endblock %}</title>
  <link href="{{ STATIC_URL }}css/reset.css" rel="stylesheet" media="screen">
  <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" media="screen">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
  <header>
    <div class="wrapper">
      <h1><a href="{% url 'home' %}">Quanto Levar?</a></h1>
    </div>
  </header>
  <section class="content wrapper">
    {% block conteudo %}
    {% endblock conteudo %}
  </section>
</body>
</html>