{% extends 'base.html' %}

{% block conteudo %}
  <form method="post" action="{% url 'buscar' %}" id="buscar">
    {% csrf_token %}
    <input type="text" placeholder="para..." name="cidade" id="cidade" class="typeahead">
    <button type="submit" id="enviar" class="btn">
      <span class="default-state">Buscar</span>
      <span class="loading-state hide"><img src="{{ STATIC_URL }}img/loading.gif" class="loading"></span>
    </button>
  </form>
  <div class="erro-busca wrapper"></div>
  <script type="text/javascript">
    $(function () {
      var substringMatcher = function(strs) {
        return function findMatches(q, cb) {
          var matches, substringRegex;
          matches = [];
          substrRegex = new RegExp(q, 'i');
          $.each(strs, function(i, str) {
            if (substrRegex.test(str)) {
              matches.push({ value: str });
            }
          });
          cb(matches);
        };
      };

      var cidades = {{cidades|safe}};

      $("#cidade").typeahead(
        {
          hint: true, 
          highlight: true, 
          minLength: 1
        }, 
        {
          name: 'cidade', 
          displayKey: 'value', 
          source: substringMatcher(cidades)
        });

      $("#cidade").focus();
    });
  </script>
{% endblock conteudo %}