{% extends 'base.html' %}
{% load calculo %}

{% block titulo %}Quanto Levar Para {{ cidade.nome }}?{% endblock %}

{% block conteudo %}
  <h2>Para {{ cidade.nome }}</h2>
  <div class="container">
    <div id="resultado-calculo">
      <h3>O cálculo para {{ dias }} dia(s) em {{ cidade.nome }} com nível {{ nivel.nome }} é</h3>
      {% for categoria, siglas in valores.iteritems %}
      <table>
        <thead>
          <tr>
            <th colspan="3">{{ categoria }}</th>
          </tr>
          <tr>
            <th>Moeda</th>
            <th>Valor</th>
            <th>Valor/Dia</th>
          </tr>
        </thead>
        <tbody>
        {% for sigla, valor in siglas.iteritems %}
          <tr>
            <td>{{ sigla }}</td>
            <td>{{ valor|multiplicar:dias|floatformat:"2" }}</td>
            <td>{{ valor|floatformat:"2" }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endfor %}
      <a href="{% url 'cidade' cidade.slug %}" class="link">Voltar</a>
    </div>
  </div>
{% endblock conteudo %}