{% extends 'base.html' %}
{% load calculo %}

{% block titulo %}Quanto Levar Para {{ cidade.nome }}?{% endblock %}

{% block conteudo %}
  <h2>Para {{ cidade.nome }}</h2>
  <div class="container">
    <div id="resultado-calculo">
      <h3>O cálculo para {{ dias }} dia(s) em {{ cidade.nome }} é</h3>
      <table>
        <thead>
          <tr>
            <th>Moeda</th>
            <th>Valor</th>
            <th>Valor/Dia</th>
          </tr>
        </thead>
        <tbody>
        {% for chave, valor in valores.iteritems %}
          <tr>
            <td>{{ chave }}</td>
            <td>{{ valor|multiplicar:dias }}</td>
            <td>{{ valor }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <a href="{% url 'cidade' cidade.slug %}" class="link">Voltar</a>
    </div>
  </div>
{% endblock conteudo %}