{% extends 'base.html' %}

{% block titulo %}Quanto Levar Para {{ cidade.nome }}?{% endblock %}

{% block conteudo %}
  <h2>Para {{ cidade.nome }}</h2>
  <div class="container">
    <form action="{% url 'calculo' cidade.slug %}" method="post" id="calculo">
      {% csrf_token %}
      <input type="hidden" id="slug" value="{{ cidade.slug }}">
      <input type="hidden" id="titulo-pagina" value="Quanto Levar Para {{ cidade.nome }}?">
      <div class="dias-viagem">
        <label for="dias">Dias de Viagem</label>
        <input type="text" id="dias" name="dias">
      </div>
      <ul class="niveis">
        {% for c, v in niveis.iteritems %}
          <li><input type="radio" name="nivel" value="{{ c }}" {% if forloop.counter == 1 %} checked="checked" {% endif %} > {{ v }}</li>
        {% endfor %}
      </ul>
      
      {% regroup despesas by despesa.categoria as lista_despesas %}
      {% for despesa in lista_despesas %}
        <h4>{{ despesa.grouper }}</h4>
        <ul class="despesas">
          {% for item in despesa.list %}
            <li><input name="despesas-selecionadas" type="checkbox" value="{{ item.despesa.id}}" checked="checked"/>{{ item.despesa.nome }}</li>
          {% endfor %}
        </ul>
      {% endfor %}
      <button type="submit" id="calcular">Calcular</button>
    </form>
  </div>
{% endblock conteudo %}
