{% extends 'base.html' %}

{% block titulo %}Quanto Levar Para {{ cidade.nome }}?{% endblock %}

{% block conteudo %}
  <h2>Para {{ cidade.nome }}</h2>
  <div class="container">
    <form action="{% url 'calculo' %}" method="post" id="calculo">
      {% csrf_token %}
      <input type="hidden" id="slug" value="{{ cidade.slug }}">
      <input type="hidden" id="titulo-pagina" value="Quanto Levar Para {{ cidade.nome }}?">
      <input type="hidden" id="cidade" name="cidade" value="{{ cidade.id }}" />
      <div class="dias-viagem">
        <label for="dias">Dias de Viagem</label>
        <input type="text" id="dias" name="dias">
      </div>
      <ul class="niveis">
        {% for c, v in niveis.iteritems %}
          <li><input type="radio" name="nivel" value="{{ c }}" {% if forloop.counter == 1 %} checked="checked" {% endif %} > {{ v }}</li>
        {% endfor %}
      </ul>
      <ul class="despesas">
      {% for despesa in despesas %}
        <li><input name="despesas-selecionadas" type="checkbox" value="{{ despesa.despesa.id}}" checked="checked"/>{{ despesa.despesa.nome }}</li>
      {% endfor %}
      </ul>
      <button type="submit" id="calcular">Calcular</button>
    </form>
  </div>
{% endblock conteudo %}