{% extends 'base.html' %}

{% block titulo %}Colabore com Quanto Levar{% endblock %}

{% block conteudo %}
  <h2>Colabore</h2>
  <div class="container">
    <form action="{% url 'enviar' %}" method="post">
      {% csrf_token %}
      <div class="form-set">
        <h3>Localidade</h3>
        <div class="form-row">
          <label for="cidade">Cidade</label>
          <input type="text" id="cidade" name="cidade" />
        </div>
        <div class="form-row">
          <label for="estado">Estado</label>
          <input type="text" id="estado" name="estado" />
        </div>
        <div class="form-row">
          <label for="pais">País</label>
          <input type="text" id="pais" name="pais" />
        </div>
        <div class="form-row">
          <label for="moeda">Moeda Local</label>
          <input type="text" id="moeda" name="moeda" />
        </div>
      </div>

      <div class="form-set">
        <table class="colabore-despesas">
          <tbody>
            {% regroup despesas|dictsort:"categoria" by categoria as categorias_despesas %}
            {% for despesa in categorias_despesas %}
              <tr><td colspan="{{ niveis.count|add:'1' }}" class="grouper-row">
                {%if despesa.grouper == 'A' %} Alimentação {% endif %}
                {%if despesa.grouper == 'T' %} Transporte {% endif %}
                {%if despesa.grouper == 'H' %} Hospedagem {% endif %}
              </td></tr>
              {% for item in despesa.list %}
                <tr>
                  <td><label>{{ item.nome }}</label></td>
                  <td><input type="text" id="{{ item.id }}" name="{{ item.id }}"></td>
                </tr>
              {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="form-set">
        <h3>Informações Adicionais</h3>
        <div class="form-row">
          <textarea id="info-adicionais" name="info-adicionais" rows="10"></textarea>
        </div>
      </div>
      <div align="center">
        <script type="text/javascript" src="http://api.recaptcha.net/challenge?k=6Lew2fESAAAAADIyxvzm_dS4WhePbJxXLcAyu9d-"></script>
        <noscript>
          <iframe 
            src="http://api.recaptcha.net/noscript?k=6Lew2fESAAAAADIyxvzm_dS4WhePbJxXLcAyu9d-" 
            height="300" 
            width="500" 
            frameborder="0">
          </iframe>
          <br>
          <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
          <input type="hidden" name="recaptcha_response_field" value="manual_challenge">
        </noscript>
      </div>
      <button type="submit" id="enviar" class="btn">Enviar</button>
      <br />
      <a href="{% url 'home' %}" class="link">Voltar</a>
    </form>
  </div>
{% endblock conteudo %}