{% extends 'base.html' %}

{% block titulo %}Sobre o Quanto Levar{% endblock %}

{% block conteudo %}
  <h2>Sobre</h2>
  <div class="container sobre">
    <p>O site <a href="{% url 'home' %}">quantolevar.com</a> foi desenvolvido com o objetivo principal de dar noção às pessoas de quanto levar em dinheiro a qualquer lugar do mundo.</p>
    <p>As informações contidas no site quantolevar.com não são exatas, uma vez que o objetivo é oferecer valores aproximados.</p>
    <p><a href="{% url 'home' %}">Quantolevar.com</a> conta com a colaboração das pessoas que já visitaram as cidades e todos podem colaborar com valores que estejam desatualizados, deixando assim, as informações mais úteis e precisas.<p>
    <p>A colaboração de <a href="{% url 'home' %}">quantolevar.com</a> é realizada online através do próprio site. <a href="{% url 'colabore' 'novo' %}">Colabore!</a></p>
    <a href="{% url 'home' %}" class="link">Voltar</a>
  </div>
{% endblock conteudo %}